<%= form_for @changeset, @action, fn f -> %>
  <div class="form-group">
    <%= label f, :username, class: "control-label" %>
    <%= text_input f, :username, class: "form-control", id: "username_field" %>
    <%= error_tag f, :username %>
  </div>
  <div class="form-group">
    <%= label f, :password, class: "control-label" %>
    <%= text_input f, :password, class: "form-control", id: "password_field" %>
    <%= error_tag f, :password %>
  </div>
  <div class="form-group">
    <%= label f, :password_confirmation, class: "control-label" %>
    <%= text_input f, :password_confirmation, class: "form-control", id: "password_confirmation_field" %>
    <%= error_tag f, :password_confirmation %>
  </div>
  <div class="form-group">
    <%= submit "Sign Up", class: "btn btn-primary", id: "btn_sign_up" %>
  </div>
<% end %>